.reveal .tk-logo {
  border: 0;
  border-radius: 50%;
  background-color: #eee8d5;
}

.reveal .tk-logo.tk-logo--sm {
  width: 10%;
}

.reveal .tk-logo.tk-logo--lg {
  width: 20%;
}

.reveal .tk-option {
  text-align: center;
  margin: 1rem 0;
}

.reveal .tk-answers-container {
  margin-top: 60px;
}

.reveal .tk-answers-container .tk-answer {
  float: left;
  width: 47.5%;
  margin: 1.25%;
  text-align: left;
}

.reveal .tk-answers-container .tk-answer strong {
  margin-right: 2rem;
  line-height: 2;
}

.reveal .tk-title {

}

.reveal .tk-title strong {
  margin-right: 2rem;
  line-height: 2;
}


.reveal .tk-answers-container .tk-answer-img {

}

.reveal .tk-answers-container .tk-answer-info {

}