.tk-millionarie-class .tk-answers {

  .tk-answers__answer {
    float: left;
    width: 47.5%;
    margin: .2em 1.25%;
    padding: .3em 0;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;

    &.is-selected {
      &.is-true { background-color: yellowgreen; }
      &.is-false { background-color: tomato; }
    }

    &.tk-answers__answer--has-image {

      .tk-answers__no {
        // position: absolute;
        // top: 0;
      }

      .tk-answers__img {
        max-height: 18vh;
        border: 0;
        background-color: transparent;
      }
    }
  }
}
