<section class="js-question-set slide-decision" data-transition="zoom-in zoom-out">
  <h1 class="js-decision-title">老師請給分</h1>
  <div class="tk-cubes-container">
    <div class="tk-cube tk-cube--yes js-decision-option" data-option="{{option1}}" data-decision="yes">O</div>
    <div class="tk-cube tk-cube--no js-decision-option" data-option="{{option3}}" data-decision="no">X</div>
  </div>
</section>