<section class="js-question-set slide-decision" data-transition="zoom-in zoom-out">
  <h1>老師請給分</h1>
  <div class="tk-cubes-container">
    <div class="tk-cube tk-cube--yes">O</div>
    <div class="tk-cube tk-cube--no">X</div>
  </div>
</section>