/* ==========================================================================
   Millionaire-Class Predefined Style Variables
   ========================================================================== */

/* 1. Colors
   ========================================================================== */
$tk-primary: red;
$tk-primary-light: red;
$tk-primary-dark: red;
$tk-secondary: red;
$tk-secondary-light: red;
$tk-secondary-dark: red;

$tk-white: #ffffff;

$tk-dark-0: #ffffff;
$tk-dark-20: #ffffff;
$tk-dark-40: #ffffff;
$tk-dark-60: #ffffff;
$tk-dark-80: #ffffff;
$tk-dark-100: #ffffff;

$tk-text-color: #ffffff;
$tk-background-color: #ffffff;

$tk-success: green;
$tk-info: green;
$tk-warn: green;
$tk-danger: green;


/* 2. Fonts
   ========================================================================== */
$tk-serif: '';
$tk-san-serif: '';

$tk-font-xs: 1.000rem;
$tk-font-sm: 1.000rem;
$tk-font-md: 1.000rem;
$tk-font-lg: 1.000rem;
$tk-font-xl: 1.000rem;


/* 3. Vertical Rythms
   ========================================================================== */
$tk-margin-sm: 15px;
$tk-margin-md: 30px;
$tk-margin-lg: 45px;

$tk-padding-sm: 15px;
$tk-padding-md: 30px;
$tk-padding-lg: 45px;
